@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

.px-primary {
    padding: 0px 5.5vw !important;
}

.navbar {
    margin-top: 30px;
}

.nav-link {
    font-family: 'Playfair Display', serif;
    margin-left: 50px;
}

#hamburger {
    position: relative;
    width: 30px;
    height: 20px;
}

#hamburger div {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #000;
    right: 0;
    transition: all 0.5s;
}

#hamburger div:nth-child(1) {
    top: 0;
    transform-origin: 0% 100%;
}

#hamburger div:nth-child(2) {
    top: 8px;
    transform-origin: 100% 100%;
}

#hamburger div:nth-child(3) {
    top: 16px;
}

#hamburger.closed div:nth-child(1) {
    transform: rotate(45deg);
    width: 40px;
    right: -10px;
    top: -6px;
}

#hamburger.closed div:nth-child(2) {
    width: 40px;
    transform: rotate(-45deg);
    top: -6px;
}

#hamburger.closed div:nth-child(3) {
    top: 40px;
    opacity: 0;
}

.navbar-toggler {
    outline: none !important;
    border: none;
    width: auto;
    padding: 0;
}

.main-img {
    margin-bottom: 50px;
}

small {
    color: #CFCFC6;
    text-transform: uppercase;
}

h3 {
    font-family: 'Playfair Display', serif;
    color: #616161;
    margin-top: 15px;
    margin-bottom: 15px;
}

.post img {
    margin-bottom: 40px;
}

.perfect-text {
    margin-bottom: 100px;
}

p {
    color: #A6A6A6;
    line-height: 25px;
}



blockquote {
    font-style: italic;
    padding: 0 3em;
    font-family: 'Ubuntu', sans-serif;
    color: #979797;
}

.social-icon a {
    color: #B7AD98;
    padding-left: 20px;
    text-decoration: none;

}

.icon-about-me a {
    color: #B7AD98;
    padding-right: 15px;
    font-size: 20px;
}

.icon-about-me {
    margin-bottom: 50px;
}

.text-about-me {
    margin-top: 0px !important;
}

h4 {
    font-weight: 250;
    color: #B7AD98;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

ul {
    padding: 0;
    margin-left: 20px;
    list-style: none;
}


.top-posts li {
    color: #616161;
    margin-bottom: 30px;
}

.top-posts li::before {
    content: "\2022";
    color: #B7AD98;
    font-weight: bold;
    display: inline-block;
    width: 1.5em;
    margin-left: -1em;
}

.top-posts small {
    display: block;
    margin-left: 11px;
    line-height: 2.5;
}

.px-column {
    padding: 0px 7.4167vw;
}

.you-may {
    margin-top: 70px;
}

.coment {
    margin-bottom: 60px;
}

.person-name a {
    color: #B7AD98;
    text-transform: uppercase;
}

.also-like {
    background-color: #F5F5F5;
    margin-top: 100px;
    margin-bottom: 75px;
}

.another-article {
    text-transform: uppercase;
    color: #868686;
    margin-bottom: 75px;
}

.img-another-article {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 70px;
    text-transform: uppercase;
    padding: 25px;
    color: #868686;
    opacity: 0.5;
    outline: none;
    border-radius: 10px;
}

footer {
    background-color: #F5F5F5;
    margin-top: 60px;
}

.px-footer {
    padding: 30px 7.4167vw;
}

.footer-social-icon a {
    padding-left: 20px;
    color: #606060;
    text-decoration: none;
}

.footer-social-text a {
    padding-right: 20px;
    color: #606060;
    text-decoration: none;
}


@media screen and (max-width: 768px) {
    .nav-link {
        margin-left: 0px;
    }

    .main-img {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 576px) {
    .img-coffee {
        margin-top: 25px;
    }

    .icon-end {
        display: none;
    }

    .main-img {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .navbar {
        margin-top: 25px;
    }

    p {
        font-size: 12px;
    }

    .img-person-blog {
        margin-bottom: 15px;
    }

    .person-name {
        width: 100%;
    }

    .footer-social-text a {
        padding-right: 10px;
    }

    .another-article {
        margin-bottom: 30px;
    }

    .coment-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    blockquote {
        text-align: center;
    }
    textarea {
        height: 30px;
    }

}
